.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  background-color: #f3f3f2;
}

.form_row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 24px 0;
}

.fruit_row {
  display: flex;
  flex-direction: row;

  margin: 24px 0;
}

.bucket_row {
  display: flex;
  flex-direction: row;

  margin: 24px 0;
}
