.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  background-color: #f3f3f2;
}

.form_row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;

  padding: 24px 48px;
}

.fruit_row {
  display: flex;
  justify-content: flex-start;

  padding: 24px 48px;
}

.bucket_row {
  display: flex;
  justify-content: flex-start;

  padding: 24px 48px;
}
